.experience1__container {
    grid-template-columns: 3fr 9fr;
    column-gap: 1.875rem;
    padding-bottom: 1rem;
}

.experience1__data {
    padding: 1.875rem;
    background-color: var(--container-color);
    box-shadow: var(--shadow);
    border-radius: var(--border-radius);
}

.ex1_date {
    padding-top: 5px;
    font-size: var(--smaller-font-size);
}

.experience1__description {
    font-size: var(--small-font-size);
}
.etds,
.ws,
.wai,
.rbc{
    width:  150px;
    height: 150px;
    object-fit: cover;
    transition: all 0.3s ease;
}

.ws:hover {
    transform: scale(1.25);
}

.wai:hover {
    transform: scale(1.25);
}

.rbc:hover {
    transform: scale(1.25);
}

.rbc {
    border-radius: 50%;
}