.about__container {
    grid-template-columns: 3fr 9fr;
    column-gap: 1.875rem;
    padding-bottom: 2rem;
}

.about__data {
    padding: 1.875rem;
    background-color: var(--container-color);
    box-shadow: var(--shadow);
    border-radius: var(--border-radius);
}


.btn1 {
    padding: 0.75rem 2rem;
    line-height: 1;
    border-radius: 1.875rem;
    box-shadow: 0 0 1px rgb(0 0 0 / 0%);
    border: 1px solid transparent;
    color: #fff;
    display: inline-block;
    background-color: var(--first-color);
    font-weight: var(--font-bold);
    padding-top: 10px;
    margin-left:30%
  }
  
  @keyframes button-push{
    50% {
      transform: scale(0.8);
    }
    100% {
      transform: scale(1);
    }
  }
  
  .btn1:hover {
    animation: button-push 0.3s linear 1;
  }

  .playlist {
    padding-bottom: 10px;
  }